@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primapy-color: #ffffff;
}

body {
  background: url(../public/images/main-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  color: var(--primapy-color);
}
