.skinContainer {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .title {
    width: fit-content;
    font-size: 60px;
    font-family: var(--font-alumni), sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }

  .place {
    font-size: 48px;
    font-family: var(--font-alumni), sans-serif;
    font-weight: 400;
  }

  .points {
    font-size: 32px;
    font-family: var(--font-alumni), sans-serif;
    font-weight: 400;
  }

  .skinContent {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;

    .hairContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .hairTitle {
        padding: 10px 30px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../../../public/images/profile/skin/titleContainer.webp);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 14px;
        text-align: left;
        text-transform: uppercase;

        @media (min-width: 1280px) {
          font-size: 16px;
        }
      }

      .hairList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 13px;
        .hairItem {
          .hairBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            width: 80px;
            height: 80px;
            background: url(../../../public/images/profile/skin/hairBg.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            @media (min-width: 1280px) {
              width: 90px;
              height: 90px;
            }
            @media (min-width: 1440px) {
              width: 104px;
              height: 104px;
            }
            .iconHead {
              width: 80px;
              height: auto;

              @media (min-width: 1280px) {
                width: 90px;
              }
              @media (min-width: 1440px) {
                width: 100px;
              }
            }
          }
        }
      }
    }

    .costumContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .costumTitle {
        padding: 10px 30px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../../../public/images/profile/skin/titleContainer.webp);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 14px;
        text-align: left;
        text-transform: uppercase;
        @media (min-width: 1280px) {
          font-size: 16px;
        }
      }

      .costumList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
        row-gap: 16px;
        .costumItem {
          .costumBtn {
            width: 80px;
            height: 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background: url(../../../public/images/profile/skin/costumBg.webp);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            @media (min-width: 1280px) {
              width: 90px;
              height: 120px;
            }
            @media (min-width: 1440px) {
              width: 104px;
              height: 137px;
            }
            .ikonSkin {
              width: 90px;
              height: auto;

              @media (min-width: 1280px) {
                width: 100px;
              }
              @media (min-width: 1440px) {
                width: 104px;
              }
            }
          }
        }
      }
    }
  }

  .continueBtnWrapper {
    margin-top: 10px;
    padding: 10px 32px;
    background: url(../../../public/images/profile/skin/titleContainer.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @media (min-width: 1280px) {
      margin-top: 20px;
    }

    .submitBtn {
      font-size: 14px;
      text-transform: uppercase;
      @media (min-width: 1280px) {
        font-size: 16px;
      }
    }
  }
}

.skinWrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .headIcon {
    width: 30%;
    height: auto;
    position: absolute;
    top: 0;
    left: 53%;
    z-index: 20;
    transform: translate(-50%);
  }
  .costumIcon {
    width: 40%;
    height: auto;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
  }
}
